<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="icon" type="image/png" href="/img/_icon_gf_with_face.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Primary Meta Tags -->
        <meta name="title" content="{{ title }}">
        <meta name="description" content="Grapefruit is a privacy-first mental health app that's customizable for your own unique journey. Use it alone or share with a therapist or counselor.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://haveagrapefruit.com/">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="Grapefruit is a privacy-first mental health app that's customizable for your own unique journey. Use it alone or share with a therapist or counselor.">
        <meta property="og:image" content="https://haveagrapefruit.com/img/meta-og.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://haveagrapefruit.com/">
        <meta property="twitter:title" content="{{ title }}">
        <meta property="twitter:description" content="Grapefruit is a privacy-first mental health app that's customizable for your own unique journey. Use it alone or share with a therapist or counselor.">
        <meta property="twitter:image" content="https://haveagrapefruit.com/img/meta-og.png">

        <link href="/css/main.css" rel="stylesheet" type="text/css" media="all">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&family=Zilla+Slab:wght@400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body id="body-{{ key }}" class="body-{{ theme }}">
        <nav id="menu1"  class="simple-nav">
            <div class="container">
                <div class="simple-nav-logo">
                    <a href="/" id="back-button"> 
                        <!-- <i class="i">arrow_back</i> -->
                        <!-- <img class="logo" alt="logo" src="/img/_gaa-logo.png"> -->
                        <span class="company-name hidden-xs">Card To Table</span>
                        <span class="label for-dark" style="position:relative;top:0;right:0;left:10px">PRO</span>
                    </a>
                </div>
                <div class="text-right simple-nav-links for-default">
                    <a href="/pricing">Pricing</a>
                    <a href="/pricing">Sign Up</a>
                    <a href="/pricing">Log In</a>
                </div>
                <div class="text-right simple-nav-links for-dark">
                    <a href="/">Grapefruit App</a>
                    <a href="/pro/#invite">Request Invite</a>
                </div>
            </div>
        </nav>

        <!-- <div class="nav-container overlay-nav">
            <div class="via-1599328018457" via="via-1599328018457" vio="Nav">
                <nav id="menu1" class="bar bar-1 hidden-xs">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="bar__module">
                                    <a href="/" id="back-button"> 
                                        <i class="i">arrow_back</i>
                                        <img class="logo" alt="logo" src="/img/_icon_gf_no_shadow.png"> 
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-10 text-right">
                                <div class="bar__module">
                                    <ul class="menu-horizontal">
                                        <li><a href="/pro">Get For Your Clients</a> </li>
                                        <li class="dropdown">
                                            <span class="dropdown__trigger">Other Apps</span>
                                            <div class="dropdown__container">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="dropdown__content col-sm-3 text-left">
                                                            <ul class="menu-vertical">
                                                                <li> <a href="#">Count Your Money</a> </li>
                                                                <li> <a href="#">Cow Words</a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a href="/pro"><i class="i">help_outline</i></a> </li>
                                        <li><a href="/cloud"><i class="i">cloud</i></a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div> -->
        <div class="main-container">
